.al-container{
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
  .al-container h1{
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    color:#010824;
  }
  .ls-inner-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;
  }
  .ls-collection{
    width: 30%;
    font-size: 1.5rem;
  }
  .ls-container button{
    background-color:#010824;
    color: #44C5D9;
    width: 15%;
    padding: 1rem;
     border-radius: 25px;
  }
  .ls-container button:hover{
    background-color: #44C5D9;
    color: #010824;
  }
  